In [225]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = ("Resources/schools_complete.csv")
student_data_to_load = ("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [226]:
school_data_complete.shape

(39170, 11)

In [227]:
# DISTRICT SUMMARY

In [228]:
# Number of schools
school_count = school_data_complete["school_name"].nunique()
print(school_count)

15

In [229]:
# Number of students
student_count = school_data_complete["student_name"].count()
print(student_count)

39170

In [230]:
# First I dropped the duplicates then calculated the sum
unique_schools_df = school_data_complete.drop_duplicates(subset='school_name')
# Calculate the total budget  
total_budget = unique_schools_df['budget'].sum()
print(total_budget)

24649428

In [231]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [232]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [233]:
# Calculating the percentage of students who passed math
passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [234]:
# Calculating the percentage of students who passed reading
passing_reading = school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]
passing_reading_percentage = passing_reading / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [235]:
# Calculating the percentage of students who passed math AND reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [236]:
# Creating a DataFrame

district_summary = pd.DataFrame({
    "Total Schools": [school_count], 
    "Total Students": [student_count], 
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score], 
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing":[overall_passing_rate]
})

# Formatting the 'Total Students' 
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

# Formatting the 'Total Students' 
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [237]:
# SCHOOL SUMMARY

In [238]:
# School type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [239]:
# Total students per school
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [240]:
# Total school budget
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_budget

# Calculate per capita spending
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_capita_budget = pd.DataFrame({"per school budget": per_school_budget , "school capita": per_school_capita})
school_capita_budget.index.name = None
school_capita_budget

                       per school budget  school capita
Bailey High School               3124928          628.0
Cabrera High School              1081356          582.0
Figueroa High School             1884411          639.0
Ford High School                 1763916          644.0
Griffin High School               917500          625.0
Hernandez High School            3022020          652.0
Holden High School                248087          581.0
Huang High School                1910635          655.0
Johnson High School              3094650          650.0
Pena High School                  585858          609.0
Rodriguez High School            2547363          637.0
Shelton High School              1056600          600.0
Thomas High School               1043130          638.0
Wilson High School               1319574          578.0
Wright High School               1049400          583.0

In [241]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [242]:
# The percentage of students who passed math
students_passing_math = school_data_complete[(school_data_complete["math_score"]) >=70]
per_school_passing_math = students_passing_math.groupby("school_name")["Student ID"].count()

In [243]:
# The percentage of students who passed reading
students_passing_reading = school_data_complete[(school_data_complete["reading_score"]) >=70]
per_school_passing_reading = students_passing_reading.groupby("school_name")["Student ID"].count()

In [244]:
# The percentage of students who passed math AND reading
students_passing_both = school_data_complete[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >=70)]
students_passing_both = students_passing_both.groupby(["school_name"]).size()
students_passing_both

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [245]:
# Calculate the passing rates
schools_groupby = school_data_complete.groupby("school_name")

pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name').size()
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name').size()
overall_passing = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].groupby('school_name').size()

per_school_passing_math = (pass_math/ schools_groupby.size()) * 100
per_school_passing_reading = (pass_reading/ schools_groupby.size()) * 100
overall_passing_rate = (overall_passing / schools_groupby.size()) * 100

passing_rates = pd.DataFrame({
    "% Passing Math": pass_math,
    "% Passing Reading": pass_reading,
    "% Overall Passing": overall_passing
})

passing_rates.index.name = None
passing_rates

                       % Passing Math  % Passing Reading  % Overall Passing
Bailey High School               3318               4077               2719
Cabrera High School              1749               1803               1697
Figueroa High School             1946               2381               1569
Ford High School                 1871               2172               1487
Griffin High School              1371               1426               1330
Hernandez High School            3094               3748               2481
Holden High School                395                411                381
Huang High School                1916               2372               1561
Johnson High School              3145               3867               2549
Pena High School                  910                923                871
Rodriguez High School            2654               3208               2119
Shelton High School              1653               1688               1583
Thomas High School               1525               1591               1487
Wilson High School               2143               2204               2068
Wright High School               1680               1739               1626

In [246]:
# DataFrame

per_school_summary = pd.DataFrame({
    "School Type": [school_types],
    "Total Students": [per_school_counts],
    "Total School Budget": [per_school_budget],
    "Per Student Budget": [per_school_capita],
    "Average Math Score": [per_school_math],
    "Average Reading Score": [per_school_reading],
    "Percentage Passing Math": [per_school_passing_math],
    "Percentage Passing Reading": [per_school_passing_reading],
    "Percentage Overall Passing": [overall_passing_rate]
})

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Overall Passing
0,school_name Huang High School District ...,school_name Bailey High School 4976 John...,school_name Huang High School 1910635 F...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,Bailey High School 66.680064 Cabrera Hig...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...